<div class="dashboard-container" data-controller="dashboard">
  <section name="pull requests">
    <div class="dashboard__cards">
      <% pull_requests.each do |pr| %>
        <% pr_age = 'pr-card__age--normal' %>
        <% pr_date = Time.parse(pr.created_at).to_date %>
        <% now = Time.now.to_date %>
        <% number_of_days = (now - pr_date).to_i %>
        <% if number_of_days >= 180 %>
            <% pr_age = 'pr-card__age--critical' %>
          <% elsif number_of_days >= 80  %>
            <% pr_age = 'pr-card__age--important' %>
          <% elsif number_of_days >= 16 %>
            <% pr_age = 'pr-card__age--high' %>
          <% elsif number_of_days >= 10 %>
            <% pr_age = 'pr-card__age--medium' %>
          <% end %>
          <%= render partial: '/components/cards/pull_request', locals: { pr_age: pr_age, pr: pr } %>
      <% end %>
    </div>
  </section>
</div>
