<section>
  <header>
    <p class="lead">Tentacles is an app to aggregate all your Pull Requests from different repositories into a single interface.</p>
    <p>Start by connecting with your <a href="https://github.com">Github</a> account</p>
  </header>

  <article>
    <div>
      <%= button_to '/auth/github', class: 'signin-btn' do %>
        <i class="fa fa-github"></i>
        Sign In with Github
      <% end %>
    </div>
  </article>
</section
