version: '3'

services:

  db:
    image: postgres
    ports:
      - "5433:5432"
    volumes:
      - postgres_tentacles:/var/lib/postgresql/data

  cache:
    image: redis
    ports:
        - "6363:6379"

  web:
    build:
        context: .
    env_file:
        - '.env'
    command: bash -c "rm -f tmp/pids/server.pid && bundle exec rails s -p 3000 -b '0.0.0.0'"
    volumes:
      - "${PWD}:/home/rails/tentacles"
    ports:
      - "3000:3000"
    depends_on:
      - db

  webpacker:
    build:
      context: .
    env_file:
      - '.env'
    command: ./bin/webpack-dev-server
    volumes:
      - "${PWD}:/home/rails/tentacles"
    ports:
      - '3035:3035'

volumes:
  postgres_tentacles:
    external: true

