version: '3.7'

services:

    db:
        image: postgres
        env_file:
            - '.env'
        ports:
            - "5432:5432"
        volumes:
            - postgres_tentacles:/var/lib/postgresql/data

    cache:
        image: redis
        ports:
            - "6379:6379"
        container_name: tentacles_cache

    webpacker:
        build:
            context: .
        env_file:
            - '.env'
        command: ./bin/webpack-dev-server
        volumes:
            - .:/app
        ports:
            - '3035:3035'

    web:
        build:
            context: .
        env_file:
            - '.env'
        command: bash -c "rm -f tmp/pids/server.pid && bundle exec rails s -p 3000 -b '0.0.0.0'"
        volumes:
            - .:/app
        ports:
            - "3000:3000"
        depends_on:
            - webpacker
            - db
            - cache
        stdin_open: true
        tty: true

volumes:
    postgres_tentacles:
        external: true
    gem_cache:
    node_modules:
