@import '../stylesheets/utils';
@import '../stylesheets/sessions';
@import '../stylesheets/topbar';
@import '../stylesheets/dashboard';
@import '../stylesheets/settings';
$fa-font-path: '~@fortawesome/fontawesome-free/webfonts';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import '~@fortawesome/fontawesome-free/scss/solid';
@import '~@fortawesome/fontawesome-free/scss/brands';

*, *:before, *:after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
  background-color: #f6f8fa;
  color: #0c0c0d;
}

header,
footer,
nav,
section,
article,
hgroup,
figure {
  display: block;
}

@media (prefers-color-scheme: dark) {

  body {
    background-color: #111416;
  }

}

