@import '../stylesheets/colors';
@import '../stylesheets/mixins';
@import '../stylesheets/utils';
@import '../stylesheets/sessions';
@import '../stylesheets/dashboard';
@import '../stylesheets/settings';
@import '../stylesheets/components/topbar';
@import '../stylesheets/components/buttons';
@import '../stylesheets/components/alert';
@import '../stylesheets/components/cards/pull_requests';
@import '../stylesheets/components/cards/organizations';

$fa-font-path: '~@fortawesome/fontawesome-free/webfonts';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import '~@fortawesome/fontawesome-free/scss/solid';
@import '~@fortawesome/fontawesome-free/scss/brands';

*, *:before, *:after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
  background-color: var(--main-background-color);
  color: var(--main-text-color);
}

header,
footer,
nav,
section,
article,
hgroup,
figure {
  display: block;
}

/**
* Generic classes
*/
.title {
  color: var(--main-title);
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 500;
  margin-bottom: .5rem;
}
