/**
* Alert component.
*/
.alert {
  position: absolute;
  padding: 1rem;
  border-radius: .5em;
  min-width: 6.25em;
  top: 5em;
  right: 0;
  transform: translate(-50%);
}

.alert__title {
  font-weight: bold;
  font-size: 1.2em;
}

.alert__body {
  font-size: 1em;
}

.alert-success {
  background-color: var(--green-200);
  color: var(--green-900);
  animation: slideTop 1s;
}

.alert-error {
  background-color: var(--red-100);
  color: var(--red-900);
  animation: slideTop 1s;
}

.alert-hide {
  animation: fadeOut ease 3s;
}
