/**
* Button component.
*/
.btn {
  padding-top: .5rem;
  padding-bottom: .5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  border-radius: .25rem;
  border: none;
  cursor: pointer;
}

.btn-green {
  background-color: var(--green-200);
  color: var(--green-900);
}

.btn-blue {
  background-color: var(--blue-200);
  color: var(--blue-900);
  font-weight: 500;
}

.btn-green:active {
  transform: translateY(2px);
}
