// Place all the styles related to the topbar menu here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.topbar {
  display: inline-flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-content: stretch;
  align-items: center;
  background-color: var(--slate-blue);
  color: var(--topbar-text-color);
  overflow: hidden;
  width: 100%;
  line-height: 1.8;
}

.topbar-logo {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-content: stretch;
  align-items: center;
  padding: .5em;
}

.topbar-logo-img {
  width: 2.5em;
}

.topbar-navigation {
  margin-left: auto;
  margin-right: 1em;
}

.topbar-logo-name {
  margin-left: .5em;
}

.topbar-logo-name a:link,
.topbar-logo-name a:visited {
  text-decoration: none;
  border: 0;
  font-weight: 500;
  color: var(--topbar-text-color);
}

.topbar-logo-name a:hover,
.topbar-logo-name a:active {
  text-decoration: underline;
}

.menu-card {
  margin-top: 1em;
  margin-left: -7em;
  background-color: var(--slate-blue);
  color: --text-color;
  border-radius: .5em;
  padding: 1em;
  display: none;
  position: relative;
  width: 18em;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, .2);
  z-index: 1;
}

.menu-card-link:link,
.menu-card-link:visited,
.menu-card-link:hover {
  margin-top: 1rem;
  padding: .5rem;
  font-weight: 400;
  color: var(--topbar-text-color);
}

.menu-card-icon {
  font-weight: 400;
  color: var(--topbar-text-color);
}

.menu-card__help {
  font-size: .75rem;
  line-height: 1rem;
  color: rgba(255, 255, 255, 0.9);
  text-align: center;
}

.menu-card__selected {
  margin-top: .5rem;
  padding: .25rem;
}

.menu-card li {
  margin-top: .5rem;
  padding: .25rem;
}

.dropdown-open {
  display: block;
  position: absolute;
}

.user {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-content: stretch;
  align-items: center;
  font-weight: 400;
}

.user-avatar {
  width: 2em;
  height: 2em;
  border-radius: 100%;
  margin-right: .5em;
}

.user-name:link,
.user-name:visited,
.user-name:hover {
  text-decoration: none;
  color: var(--topbar-text-color);
}
