<div class="organization">
  <div class="organization__avatar"><img src="<%= org.avatar_url  %>" alt="<%= org.name %>"></div>
  <div class="organization__name"><%= org.name %></div>
  <div class="organization__login">@<%= org.login %></div>
</div>
