// Place all the styles related to the dashboard controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.dashboard-container {
  margin: 2em;
}

.dashboard__cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  align-content: center;
}

// Empty State

.dashboard-empty {
  text-align: center;
}

.dashboard-empty__logo {
  width: 6em;
  margin: 0 auto;
}

.dashboard-empty__description {
  font-size: .9em;
  color: var(--repo-empty-subtext);
}

.dashboard-empty__description a:link,
.dashboard-empty__description a:visited,
.dashboard-empty__description a:hover {
  color: var(--repo-empty-subtext-link-color);
  font-weight: 600;
  text-decoration: underline;
}

@media all and (min-width: 47em) {

  .dashboard-empty__logo {
    width: 20em;
  }

}
