// Place all the styles related to the sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.section {
  width: 100%;
}

.section-container {
  padding-top: 10em;
  padding-bottom: 10em;
}

.section-container-odd {
  background-color: var(--blue-600);
}

.brand__logo {
  text-align: center;
  margin: 0 auto;
  height: 20%;
  color: var(--white);
  padding: 1em;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.brand__logo-icon {
  width: 3em;
}

.brand__logo-text {
  margin-left: 1em;
  font-size: 1em;
  text-shadow: 2px 2px 4px var(--blue-900);
}

.brand__logo-menu {
  margin-left: 2em;
}

.brand__logo-menu a {
  margin-left: 1em;
}

.brand__logo-menu a:link,
.brand__logo-menu a:visited,
.brand__logo-menu a:hover {
  color: var(--white);
  font-weight: 600;
  text-decoration: underline;
  font-size: 1.2em;
}

.description {
  text-align: center;
}

.description__headings-title {
  font-size: 3em;
}

.description__headings-subtitle {
  color: var(--grey-900);
  font-size: 1.5em;
}

.description__actions {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin-top: 2em;
  margin-bottom: 2em;
}

.description__actions-link {
  margin-left: 1em;
  margin-right: 1em;
}

.description__actions-link a:link,
.description__actions-link a:hover,
.description__actions-link a:visited {
  color: var(--grey-900);
  text-decoration: underline;
  font-size: 1.1em;
}

.signin-btn {
  font-size: 1.1em;
  font-weight: 500;
}

.signin-btn:active {
  transform: scale(.9);
}

.signin-btn:hover {
  background-color: var(--grey-200);
}

.forkit-btn {
  font-size: 1.1em;
}

.forkit-btn:active {
  transform: scale(.9);
}

.how-it-works__header {
  text-align: center;
  font-size: 1.5em;
}

.how-it-works-boxes {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  align-content: center;
}

.how-it-works-box {
  width: 25em;
  margin: 1em;
}

.box__icon-item {
  background-color: var(--complementary-100);
  border-radius: 50%;
  width: 5em;
  height: 5em;
  margin: 0 auto;
}

.fa-big {
  font-size: 3em;
  color: var(--complementary-900);
  margin: 16px 0 0 16.5px;
}

.box__title {
  text-align: center;
}

.box__title h3{
  font-weight: 600;
}

.box__description {
  color: var(--grey-800);
}

.how-it-works__capture {
  margin-top: 3em;
  margin-bottom: 3em;
}

.how-it-works__capture img {
  max-width: 90%;
  display: block;
  border-radius: .2em;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, .2);
  margin: 0 auto;
}

.pricing__header {
  text-align: center;
  font-size: 1.5em;
  color: var(--grey-900);
}

.pricing__description {
  color: var(--grey-900);
  max-width: 40em;
  text-align: center;
  margin: 0 auto;
}

.oss__header {
  text-align: center;
  font-size: 1.5em;
}

.oss__description {
  color: var(--grey-700);
  max-width: 40em;
  text-align: center;
  margin: 0 auto;
}

.oss__actions {
  margin-top: 3em;
  text-align: center;
}

.footer {
  text-align: center;
  color: var(--main-text-color);
  margin-bottom: 1em;
}

.footer a:link,
.footer a:visited,
.footer a:hover {
  font-weight: 600;
  text-decoration: underline;
  color: var(--blue-800)
}

@media all and (min-width: 47em) {

  .brand__logo-icon {
    width: 6em;
  }

  .brand__logo-text {
    font-size: 1.2em;
    text-shadow: 2px 2px 4px var(--blue-900);
  }

}

@media (prefers-color-scheme: dark) {
  
  .oss__description {
    color: var(--grey-200);
  }
  
  .box__description {
    color: var(--grey-200);
  }
  
  .footer a:link,
  .footer a:visited,
  .footer a:hover {
    font-weight: 600;
    text-decoration: underline;
    color: var(--blue-500)
  }

}
