// Place all the styles related to the sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.section {
  width: 100%;
}

.section-container {
  padding-top: 10em;
  padding-bottom: 10em;
}

.brand__logo {
  background: #875390;
  background-image: url('../images/subtle-zebra-3d.png');
  text-align: center;
  margin: 0 auto;
  height: 20%;
  color: #ffffff;
  padding: 1em;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.brand__logo-icon {
  width: 8em;
}

.brand__logo-text {
  font-size: 1em;
  text-shadow: 2px 2px 4px #0c0c0d;
}

.description {
  text-align: center;
}

.description__headings-title {
  font-size: 3em;
}

.description__headings-subtitle {
  color: #72687b;
  font-size: 1.5em;
}

.description__actions {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin-top: 2em;
  margin-bottom: 2em;
}

.description__actions-link {
  margin-left: 1em;
  margin-right: 1em;
}

.description__actions-link a:link,
.description__actions-link a:hover,
.description__actions-link a:visited {
  color: #1f3a93;
  text-decoration: underline;
  font-size: 1.1em;
}

.signin-btn {
  background: #875390;
  background-image: linear-gradient(to bottom, #875390, #5d3c7b);
  border-radius: .5em;
  color: #ffffff;
  font-size: 1em;
  padding: 15px 20px 15px 20px;
  text-decoration: none;
  cursor: pointer;
  border: 0;
}

.signin-btn:active {
  transform: scale(.9);
}

.signin-btn:hover {
  background: #5d3c7b;
}

.how-it-works__header {
  text-align: center;
  font-size: 1.5em;
}

.how-it-works-boxes {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  align-content: center;
}

.how-it-works-box {
  width: 25em;
  margin: 1em;
}

.box__icon-item {
  background-color: #FAE3F5;
  border-radius: 50%;
  width: 5em;
  height: 5em;
  margin: 0 auto;
}

.fa-big {
  font-size: 3em;
  color: #770087;
  margin: 16px 0 0 16.5px;
}

.box__title {
  text-align: center;
}

.box__title h3{
  font-weight: 600;
}

.box__description {
  color: #72687b;
}

.how-it-works__capture {
  margin-top: 3em;
  margin-bottom: 3em;
}

.how-it-works__capture img {
  max-width: 90%;
  display: block;
  border-radius: .2em;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, .2);
  margin: 0 auto;
}

.pricing__header {
  text-align: center;
  font-size: 1.5em;
}

.pricing__description {
  color: #1e0824;
  max-width: 40em;
  text-align: center;
  margin: 0 auto;
}

.oss__header {
  text-align: center;
  font-size: 1.5em;
}

.oss__description {
  color: #72687b;
  max-width: 40em;
  text-align: center;
  margin: 0 auto;
}

.oss__actions {
  margin-top: 3em;
  text-align: center;
}

.footer {
  text-align: center;
  color: #1e0824;
  margin-bottom: 1em;
}

.footer a:link,
.footer a:visited,
.footer a:hover {
  font-weight: 600;
  text-decoration: underline;
  color: #1e0824;
}

@media all and (min-width: 47em) {

  .brand__logo-icon {
    width: 10em;
  }

  .brand__logo-text {
    font-size: 1.2em;
    text-shadow: 2px 2px 4px #0c0c0d;
  }

}

