// Place all the styles related to the settings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.settings-container {
  margin: 2em;
}

.separator {
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(249, 249, 249, 0), rgba(0, 0, 0, 0.75), rgba(249, 249, 249, 0));
}

.setttings-title {
 font-size: .8em;
 color: #443b4c;
}

.organizations-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  align-content: center;
}

.organization {
  background-color: #ffffff;
  border-radius: 5%;
  padding: .5em;
  margin: .5em;
  box-shadow: 0 2px 6px 0 rgba(0, 0%, 0%, 0.2);
}

.organization-name {
  font-weight: bold;
  font-size: 1em;
}

.organization-avatar {
  text-align: center;
}

.organization-avatar img {
  width: 3em;
  height: 3em;
  border-radius: 50%;
}

.organization-login {
  color: #72687b;
}

.repositories-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: center;
}

.repository {
  background-color: #ffffff;
  border-radius: 5%;
  padding: .5em;
  margin: .5em;
  box-shadow: 0 2px 6px 0 rgba(0, 0%, 0%, 0.2);
}

.repository-checked {
  background-color: #66da96;
}

.fa-lock {
  color: #ffffff;
  background-color: #0c0c0d;
  padding: .5em;
  border-radius: 50%;
}

.fa-check-circle {
  color: #239d56;
}

.settings-actions {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
  align-content: center;
  background: hsl(0, 0%, 90%);
  padding: 1em;
  border-radius: .5em;
}

.settings-save-btn {
  background: #875390;
  background-image: linear-gradient(to bottom, #875390, #5d3c7b);
  border-radius: .5em;
  color: #ffffff;
  font-size: 1em;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  cursor: pointer;
  border: 0;
}

.settings-save-btn:active {
  background-image: linear-gradient(to bottom, #5d3c7b, #875390);
  transform: scale(0.99);
}

.settings-cancel:link,
.settings-cancel:visited {
  text-decoration: none;
  color: #875390;
  font-size: 1em;
}

.settings-cancel:hover {
  text-decoration: underline;
}

.alert-header {
  font-weight: bold;
}

.alert-success {
  background-color: #66da96;
  border-left: 1em solid #239d56;
  color: #104928;
  padding: .5em;
  width: 100%;
}

.alert-error {
  background-color: #e2a2ae;
  border-left: 1em solid #b00020;
  color: #c23952;
  padding: .5em;
  width: 100%;
}

