// Place all the styles related to the topbar menu here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.topbar {
  display: inline-flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-content: stretch;
  align-items: center;
  background: #875390;
  background-image: linear-gradient(to right, #875390 30%, #aa70b5, #875390);
  color: #ffffff;
  overflow: hidden;
  width: 100%;
  line-height: 1.8;
}

.topbar-logo {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-content: stretch;
  align-items: center;
  padding: .5em;
}

.topbar-logo-img {
  width: 2.5em;
}

.topbar-navigation {
  margin-left: auto;
  margin-right: 1em;
}

.topbar-logo-name {
  margin-left: .5em;
}

.topbar-logo-name a:link,
.topbar-logo-name a:visited {
  text-decoration: none;
  border: 0;
  color: #ffffff;
  font-weight: 400;
}

.topbar-logo-name a:hover,
.topbar-logo-name a:active {
  text-decoration: underline;
}

.menu-card {
  margin-top: 1em;
  border-radius: 5%;
  background-color: #ffffff;
  padding: 1em;
  display: none;
  position: relative;
  width: 10em;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, .2);
  z-index: 1;
}

.menu-card-link:link,
.menu-card-link:visited,
.menu-card-link:hover {
  color: #3d3c7b;
  text-decoration: none;
}

.menu-card-icon {
  color: #3d3c7b;
}

.menu-card-title {
  font-size: .8em;
  color: #191832;
  margin-bottom: .5em;
}

.dropdown-open {
  display: block;
  position: absolute;
  background-color: #ffffff;
}

.user {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-content: stretch;
  align-items: center;
  font-weight: 400;
}

.user-avatar {
  width: 2em;
  height: 2em;
  border-radius: 100%;
  margin-right: .5em;
}

.user-name:link,
.user-name:visited,
.user-name:hover {
  text-decoration: none;
  color: #ffffff;
}

@media (prefers-color-scheme: dark) {

  .dropdown-open {
    background-color: #222527;
  }

  .menu-card {
    background-color: #222527;
  }

  .menu-card-title {
    color: #a8a6a6;
  }

  .menu-card-link:link,
  .menu-card-link:visited,
  .menu-card-link:hover {
    color: #bd9cc4;
  }

  .menu-card-icon {
    color: #bd9cc4;
  }

}

