// A collection of utility classes

.unordered-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.hidden {
  display: none !important;
}

kbd {
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 0.1em 0.5em;
  margin: 0 0.2em;
  box-shadow: 0 1px 0px rgba(0, 0, 0, 0.2), 0 0 0 2px #fff;
}

.shortcut {
  font-weight: 900;
}

.mt-05 {
  margin-top: .5rem;
}

.mt-1 {
  margin-top: 1rem;
}

.mt-2 {
  margin-top: 2rem;
}

.mr-small {
  margin-right: .5rem;
}

.mr-05 {
  margin-right: .5rem;
}

.mr-1 {
  margin-right: 1rem;
}

.mr-2 {
  margin-right: 2rem;
}

.ml-05 {
  margin-left: .5rem;
}

.ml-1 {
  margin-left: 1rem;
}

.ml-2 {
  margin-left: 2rem;
}

@keyframes slideTop {

  from{
    top: -300px;
    opacity: 0
  }
  
  to{
    top: 100;
    opacity: 1
  }

}

@keyframes fadeOut {

  0% {
    opacity:1;
  }

  100% {
    opacity:0;
  }

}
