// Place all the styles related to the settings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.settings-container {
  margin: 2em;
}

.separator {
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(249, 249, 249, 0), rgba(0, 0, 0, 0.75), rgba(249, 249, 249, 0));
}

.setttings-title {
 font-size: .8em;
 color: #443b4c;
}

.organizations-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: center;

}

.organization {
  border-radius: 5%;
  padding: .5em;
  margin: .5em;
  box-shadow: 0 2px 6px 0 rgba(0, 0%, 0%, 0.2);
}

.organization-name {
  font-weight: bold;
  font-size: 1em;
}

.organization-avatar {
  text-align: center;
}

.organization-avatar img {
  width: 3em;
  height: 3em;
  border-radius: 50%;
}

.organization-login {
  color: #72687b;
}

.repositories-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: center;
}

.repository {
  border-radius: 5%;
  padding: .5em;
  margin: .5em;
  box-shadow: 0 2px 6px 0 rgba(0, 0%, 0%, 0.2);
}

.fa-lock {
  color: #dbab09;
}
