<!DOCTYPE html>
<html>
  <head>
    <title>Tentacles dashboard</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag  'stylesheets', media: 'all' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
